# General Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Databases
*.db
*.sqlite
data/

# Sensitive
.env
app/infrastructure/google/credentials.json
app/infrastructure/google/token.json

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
logs/
temp/
/tmp/
